@import '../../theme/palette';
@import '../../theme/animations';

.wall {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    padding: 55px 15px 15px;
    background-color: $paletteColor3;

    .postInStart {
        transform: scale(.1);
        opacity: .01;
    }

    .postInEnd {
        transform: scale(1);
        transition: opacity 400ms $cubic1,
            transform 400ms $cubic1;
        opacity: 1;
    }

    .postOutStart {
        opacity: 1;
    }

    .postOutEnd {
        transition: opacity 500ms $cubic1;
        opacity: .01;
    }
}
